@import "global.less";
.adoption-form {
    margin-top: 3rem;
    width: 20rem;
    height: auto;
    .flex();
    flex-direction: column;
        -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        @-webkit-keyframes pulse {
        0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        }
        50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
        }
        100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        }
        }
        @keyframes pulse {
        0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        }
        50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
        }
        100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        }
        } 
    .gradient();
    border-radius: 10px;
    border: 2px solid @dark;
}
.adoption-content1,
.adoption-content2 {
    width: 75%;
    height: 95%;
    .flex(flex,flex-start,flex-start,column);
    h1 {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    img {
        border-radius: 10px;
        width: 100%;
        height: 15rem;
        margin-bottom: 1rem;
        border: 1.5px solid @dark;
    }
    .button();
    p {
        margin: 0 0;
        font-size: 1rem;
        color: rgb(196, 50, 50);
    }
    input {
        margin: 1rem 0;
        padding-left: 0.5rem;
        width: 15rem;
        height: 1.7rem;
        font-size: 1.2rem;
        font-family: "Lato", sans-serif;
        border: 1.5px solid @dark;
        border-radius: 10px;
    }
}
#hidden {
    display: none;
}
.one-line{
    display: flex;
}
@media only screen and (max-width: 1400px) {
    .adoption-form{
        width:20rem;
    }
    .adoption-content1, .adoption-content2{
        width:80%;
         h2{
            font-size: 1.3rem;
        }
        p{
            font-size: 0.8rem;
        }
        input{
            height:1.4rem;
            font-size: 1rem;
        }
    }
    
}
@media only screen and (max-width: 450px) {
    .adoption-form{
        width:16rem;
    }
    .adoption-content1, .adoption-content2{
        width:80%;
        h2{
            font-size: 1.3rem;
        }
        p{
            font-size: 0.8rem;
        }
        input{
            width:12rem;
            height:1.2rem;
            font-size: 0.8rem;
        }
    }
    
}