body {
    font-family: "Lato", sans-serif;
    color: white;
    margin: 0;
}
.nav-bar {
    background-image: linear-gradient(315deg, #405d27 -10%, #3e4444 94%);
    width: 100%;
    height: 3rem;
    display: flex;
    color: white;
    position: relative;
    border-bottom: 1.5px solid black;
    z-index: 5;
}
.nav-bar h1:hover {
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    cursor: pointer;
}
.left {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left h1 {
    font-size: 2rem;
}
.left img {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.middle {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.right {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle h1 {
    margin: 0 1rem;
    font-size: 1.5rem;
}
.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 95vh;
    width: 99vw;
    padding-top: 0rem;
    background: url("imgs/background.jpg");
    background-size: 100% 100%;
}
.app h1 {
    font-size: 1.5rem;
}
a {
    color: white;
    text-decoration: none;
}
.home-img {
    width: 100%;
    height: 100%;
}
.home-img img {
    width: 100%;
    height: 100%;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100vw;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    float: left;
    width: 100vw;
    height: 94vh;
    border: 0;
}
.animals {
    margin-top: 2rem;
    width: 70rem;
    display: grid;
    grid-template-columns: auto auto auto;
}
.animal {
    margin: 1rem 1rem;
    width: 23rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(315deg, #405d27 -10%, #3e4444 94%);
    border-radius: 10px;
    border: 2px solid #3e4444;
}
.animal h1 {
    font-size: 1.5rem;
}
.app .quote {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.app .quote h1 {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.438);
    margin-top: -50vh;
    margin-left: 40%;
    padding: 1rem 2rem;
    font-family: "Dancing Script", cursive;
    width: 30rem;
    color: white;
    font-size: 2rem;
}
.animal h2 {
    margin-top: 0;
    font-size: 2rem;
}
.animal img {
    border-radius: 10px;
    width: 15rem;
    height: 12rem;
    margin-bottom: 1rem;
    border: 1.5px solid #3e4444;
}
.animal-details {
    margin-top: 3rem;
    width: 33rem;
    height: 38rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(315deg, #405d27 -10%, #3e4444 94%);
    border-radius: 10px;
    border: 2px solid #3e4444;
}
.content {
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.content h1 {
    font-size: 1.2rem;
}
.content h2 {
    font-size: 1.7rem;
}
.animal h2:hover {
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    cursor: pointer;
}
.content img {
    border-radius: 10px;
    width: 100%;
    height: 15rem;
    margin-bottom: 1rem;
    border: 1.5px solid #3e4444;
}
.content button {
    margin-top: 1rem;
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #82b74b;
    border: 2px solid black;
    color: white;
}
.content button:hover {
    background-color: #405d27;
    cursor: pointer;
}
.adoption-form {
    margin-top: 3rem;
    width: 30rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(315deg, #405d27 -10%, #3e4444 94%);
    border-radius: 10px;
    border: 2px solid #3e4444;
}
.adoption-content {
    width: 75%;
    height: 95%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.adoption-content h1 {
    font-size: 1.2rem;
}
.adoption-content h2 {
    font-size: 1.7rem;
}

.adoption-content img {
    border-radius: 10px;
    width: 100%;
    height: 15rem;
    margin-bottom: 1rem;
    border: 1.5px solid #3e4444;
}
.adoption-content button {
    margin-top: 1rem;
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #82b74b;
    border: 2px solid black;
    color: white;
}
.adoption-content button:hover {
    background-color: #405d27;
    cursor: pointer;
}
.adoption-content input {
    margin: 1rem 0;
    padding-left: 0.5rem;
    width: 15rem;
    height: 1.7rem;
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    border: 1.5px solid #3e4444;
    border-radius: 10px;
}
.contact {
    margin-top: 3rem;
    width: 27rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(315deg, #405d27 -10%, #3e4444 94%);
    border-radius: 10px;
    border: 2px solid #3e4444;
}
.contact-details {
    width: 70%;
    height: 75%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.contact-details h1 {
    font-size: 1rem;
}
#hidden {
    display: none;
}
.adoption-content p {
    margin: 0 0;
    font-size: 1rem;
    color: rgb(196, 50, 50);
}
.info {
    margin-top: 3rem;
    width: 27rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(315deg, #405d27 -10%, #3e4444 94%);
    border-radius: 10px;
    border: 2px solid #3e4444;
}
.info-details {
    width: 80%;
    height: 75%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.info-details h1 {
    font-size: 1.2rem;
}
.info-details h2 {
    font-size: 2rem;
}
.loading{
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;
    background-image: linear-gradient(315deg, #405d27 -10%, #3e443f 94%);
}
.loading img{
    height:3rem;
    width:3rem;
}
